---
import localLogo from "../images/logo/BB_Logo_Stacked_Color-300.png";
import { CopyIcon, GithubIcon } from "astro-feather";
import { Image } from "astro:assets";

const today = new Date();
---

<footer
  class="bg-green-200 px-3 py-9 text-gray-900 selection:bg-green-600 selection:text-white sm:px-12 print:hidden"
>
  <section
    class="mx-auto flex w-full flex-col justify-between gap-4 sm:flex-row"
  >
    <a href="/">
      <span class="sr-only">Braun Bauen Home</span>
      <Image
        class="pointer-events-none h-20 w-auto"
        aria-hidden="true"
        alt="Braun Bauen Logo"
        height={150}
        src={localLogo}
      />
    </a>
    <section class="flex flex-col justify-end gap-3 sm:items-end">
      <div class="flex items-center gap-2 sm:flex-row-reverse">
        <a
          href="mailto:contact@braunbauen.com"
          class="transition-colors duration-300 ease-in-out hover:text-green-600"
        >
          contact@braunbauen.com
        </a>
        <button
          x-data="{ message: 'Copy Email' }"
          @click="message = 'Copied!'; navigator.clipboard.writeText('contact@braunbauen.com');"
          @mouseleave="message = 'Copy Email'"
          class="has-tooltip text-current transition-colors duration-300 ease-in-out hover:text-green-600"
          aria-label="Copy Email to Clipboard"
        >
          <!-- TODO: check how screen reader understands the tooltip span - <span class="sr-only">Copy Email</span> -->
          <span
            class="tooltip"
            x-text="message"
            :class="message == 'Copied!' && 'clicked'"></span>
          <CopyIcon size={16} />
        </button>
      </div>
      <p class="flex items-center gap-2 sm:flex-row-reverse">
        <span>braun bauen {today.getFullYear()}</span>
        <a
          href="https://github.com/isaacbraun/braun-bauen-hugo"
          target="_blank"
          title="View this website's GitHub repository"
        >
          <span class="sr-only">View this website's GitHub repository</span>
          <GithubIcon size={16} />
        </a>
      </p>
    </section>
  </section>
</footer>
